body {
	background-image: url('images/background.png');
	font-family: Arial, Helvetica, sans-serif;
}

a {
	font-weight: bold;
	color: black;
}

#center-container {
	width: 1200px;
	height: 1451px;
	background-image: url('images/background-center.png');
	background-repeat: no-repeat;
/*	background-attachment: fixed; */
	margin: 0 auto;
	position: relative;
	padding-top: 10px;
}

#logo {
    width: 1200px;
    margin: 0 auto;
    
}

/* Image replacement, see http://css-tricks.com/css-image-replacement/ */
#logo a {
	display: block;
	background-image: url("logo.png");
	background-repeat: no-repeat;
	height: 203px;
	width: 816px;
	text-indent: -9999px;
}

/* Navigation menu links */
.primary-links {
	display: block; 
	width: 816px; 
	height: 100px;
	margin: -100px auto !important;
	position: relative;
	clear: both;
}

.primary-links li {
	float: left;
	display: block !important;
	/* display: inline !important; */
}

.menu-420 {
	margin-left: 300px;	
}

.menu-285 {
	clear: right;
}
	
.menu-433 {
	clear: left;
	margin-left: 130px;
}

/* Image replacement, see http://css-tricks.com/css-image-replacement/ */
/* About */
.menu-420 a {
	display: inline-block; 
	height: 46px;
	width: 116px;
	background-image: url('images/menu-about.png');
	background-repeat: no-repeat;
	text-indent: -9999px;	
}

/* Media */
.menu-285 a {
	display: inline-block; 
	height: 47px;
	width: 107px;
	background-image: url('images/menu-media.png');
	background-repeat: no-repeat;
	text-indent: -9999px;		
}

/* Discography */
.menu-433 a {
	display: inline-block; 
	height: 51px;
	width: 230px;
	background-image: url('images/menu-discography.png');
	background-repeat: no-repeat;
	text-indent: -9999px;		
}

/* Lyrics */
.menu-284 a {
	display: inline-block;
	height: 45px;
	width: 134px;
	background-image: url('images/menu-lyrics.png');
	background-repeat: no-repeat;
	text-indent: -9999px;			
}

/* Contact */
.menu-436 a {
	display: inline-block;
	height: 43px;
	width: 133px;
	background-image: url('images/menu-contact.png');
	background-repeat: no-repeat;
	text-indent: -9999px;			
}

#content-border-top {
	position: relative;
	width: 853px;
	/*
	height: 438px;
	*/
	padding-top: 1px;
	margin: 100px auto;
	background-image: url('images/background-content-top.png');
	background-repeat: no-repeat;
	clear: both;
}

#content-border-middle {
	width: 853px;
	margin: 75px auto 0px auto;
	background-image: url('images/background-content-middle.png');
	background-repeat: repeat-y;
}

#content-border-bottom {
	margin: 0 auto;
	width: 853px;
	height: 76px;
	background-image: url('images/background-content-bottom.png');
	background-repeat: no-repeat;		
}

#content {
	padding: 0 30px;
}

#sidebar-right {
	width: 300px;
	float: right;
	
	margin-right: 10px;
	padding: 0 1em 0 1em;
}

.node h2, .block h2 {
	text-transform: uppercase;
	color: #ad3531;
}

.node h2 a {
	text-decoration: none;
	color: #ad3531;
}

.node h2 a:hover {
	text-decoration: underline;
}



