body {
	background-image: url('images/background.png');
	font-family: Arial, Helvetica, sans-serif;
}

a {
	font-weight: bold;
	color: black;
}

#center-container {
        position: relative;

	margin: 0 auto;
	width: 1200px;
	height: 1451px;
	padding-top: 10px;

	background-image: url('images/background-center.png');
	background-repeat: no-repeat;
}

#logo {
    width: 1200px;
    margin: 0 auto;
    
}

/* Image replacement, see http://css-tricks.com/css-image-replacement/ */
#logo a {
	display: block;
	background-image: url("logo.png");
	background-repeat: no-repeat;
	height: 301px;
	width: 1200px;
	text-indent: -9999px;
}

/* Navigation menu links */
.primary-links {
	display: block; 
	width: 960px;
	height: 100px;
	margin: -150px auto !important;
	position: relative;
	clear: both;
}

.primary-links li {
	float: left;
	display: block !important;
	/* display: inline !important; */
}

.menu-420 {
	margin-left: 260px;	
}

.menu-285 {
	clear: right;
}
	
.menu-443 {
	clear: left;
	margin-left: 50px;
}

/* Image replacement, see http://css-tricks.com/css-image-replacement/ */
/* About */
.menu-420 a {
	display: inline-block; 
	height: 73px;
	width: 190px;
        background: transparent url(images/menu_sprites.png) 0 0 no-repeat;
	text-indent: -9999px;	
}

/* Media */
.menu-285 a {
	display: inline-block; 
	height: 83px;
	width: 185px;
        background: transparent url(images/menu_sprites.png) -190px 0 no-repeat;
	text-indent: -9999px;		
}

/* Discography */
.menu-443 a {
	display: inline-block; 
	height: 84px;
	width: 360px;
        background: transparent url(images/menu_sprites.png) 0 -82px no-repeat;
	text-indent: -9999px;		
}

/* Lyrics */
.menu-284 a {
	display: inline-block;
	height: 82px;
	width: 230px;
        background: transparent url(images/menu_sprites.png) -375px 0 no-repeat;
	text-indent: -9999px;			
}

/* Contact */
.menu-436 a {
	display: inline-block;
	height: 83px;
	width: 227px;
        background: transparent url(images/menu_sprites.png) -366px -81px no-repeat;
	text-indent: -9999px;			
}

#content-border-top {
	position: relative;
	width: 985px;
        height: 79px;
	/*padding-top: 1px;*/
        margin-left: auto;
        margin-right: auto;
	background-image: url('images/background-content-top.png');
	background-repeat: no-repeat;
	clear: both;
}

#content-border-middle {
        position: relative;

        margin-left: auto;
        margin-right: auto;
	width: 985px;

	background-image: url('images/background-content-middle.png');
	background-repeat: repeat-y;
}

#content-border-bottom {
        margin-left: auto;
        margin-right: auto;
	width: 985px;
	height: 76px;
	background-image: url('images/background-content-bottom.png');
	background-repeat: no-repeat;		
}

#content-container {
}

#content {
  float: none; 

  display: inline-block;

  margin-top: -40px;
}


#sidebar-right {
  position: absolute;
  top: -40px;
}

.node h2, .block h2 {
	text-transform: uppercase;
	color: #ad3531;
}

.node h2 a {
	text-decoration: none;
	color: #ad3531;
}

.node h2 a:hover {
	text-decoration: underline;
}



